body{
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0
}

h1{
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Homemade Apple', cursive;
}

#cycler img{
    position:absolute;
    z-index:1;   
    width: 100vh;
    height: 75vh;
}
    
#cycler{
    position:relative;  
      
}
 
#cycler img.active{
    z-index:3;
       
}

@media only screen and (min-width:1600px) {    
    #cycler img{
        margin-left: 25%
    }    
}

@media only screen and (min-width:1300px) and (max-width:1599px) {    
    #cycler img{
        margin-left: 20%
    }    
}

@media only screen and (min-width:1000px) and (max-width:1299px) {    
    #cycler img{
        margin-left: 20%
    }    
}