body{
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0
}

h1{
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Homemade Apple', cursive;
}

.cycler img{
    position:absolute;
    z-index:1;   
    width: 100vh;
    height: 75vh;
}
    
.cycler{
    position:relative;  
      
}

.player{
    text-align: center;

}
 
.cycler img.active{
    z-index:3;
       
}




