body{
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0
}



h1{
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Stalemate', cursive;
    font-size: 75px;
}

.cycler img{
    position:absolute;
    z-index:1;   
    width: 100vh;
    height: 75vh;
    margin: 0 25%
}

@media only screen and (max-width: 800px) {
  .cycler img{       
    width: 55vh;
    height: 55vh;
    object-fit: contain;
    margin: 0
  }
}
    
.cycler{
    position:relative;  
      
}

.player{
    text-align: center;

}
 
.cycler img.active{
    z-index:3;       
}






